<h1>Course Listings</h1>

<ul>
  <li>Code: CS11</li>
  <li>Name: Comp Sci</li>
  <li>Description: Easy A</li>
</ul>

<ul>
  <li>Code: CS11</li>
  <li>Name: Comp Sci</li>
  <li>Description: Easy A</li>
</ul>